@import url("./Slider.css");
@import url("./Navigationbar.css");


@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
    margin: 0;
    padding: 0;
}

.fx {
    display: flex;
}

.block {
    display: block;
}

.none {
    display: none;
}

.submenuul,
.submenuul-commerce,
.submenuul-CRM,
.submenuul-project,
.submenuul-Customer {
    display: none;
}